
$background-color-primary: #FAF9F4;
$background-color-secondary: #FFFFFF;
$background-color-active: #EEC000;
$background-color-footer: #292929;

$text-color-primary: #353432;
$text-color-secondary: #FFFFFF;
$text-color-active: #EEC000;

$font-family-main: 'Arial', Sans Serif;
$font-size: 15px;

$main-container-width: 1020px;
