
$background-color-primary: #FAF9F4;
$background-color-secondary: #FFFFFF;
$background-color-highlight: #EEC000;

$text-color-primary: #353432;
$text-color-secondary: #FFFFFF;

$font-family: 'Arial', Sans Serif;

$background-color-footer: #292929;
$text-color-footer: #FFFFFF;