@import '../helpers/variables';

footer {
  background-color: $background-color-grey;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;

  @media (max-width: 480px) {
    position: relative;
  }

  .container {
    text-align: center;

    ul {
      display: inline-block;
      margin: 22px auto;
    }

    li {
      float: left;
      margin: auto 30px;

      @media (max-width: 480px) {
        width: 100%;
        line-height: 1.6em;
        margin: 0;
      }

      a {
        color: $text-color-secondary;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}