/* Navigation bar
================================================== */

.top-actions {
  font-size: 16px;
  height: 2.1em;
  margin: 25px auto;
  max-width: $main-container-width;

  .container {
    position: relative;
  }

  @import '../components/top-logo';
  @import '../components/top-menu';

}