body {
  color: $text-color-primary;
  background-color: $background-color-primary;
  font-family: $font-family-main;
  margin-bottom: 70px;
}

.main {
  border-radius: 7px;
  box-shadow: 0px 0px 12px #c4c3be;
  margin: auto;
  max-width: $main-container-width;
}

.container {
  margin: auto 35px;
}