
$background-color-primary: #FAF9F4;
$background-color-secondary: #FFFFFF;
$background-color-active: #EEC000;
$background-color-grey: #292929;
$background-color-upvote: #d5ac56;

$text-color-primary: #353432;
$text-color-secondary: #FFFFFF;
$text-color-active: #EEC000;
$text-font-size: 15px;

$text-color-h1: #d5ac56;
$text-color-h2: #a27934;
$text-color-upvote: #d5ac56;

$font-family-main: "Arial", Sans Serif;

$main-container-width: 960px;
