/*
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #353432;
  background-color: #FAF9F4;
  font-family: "Arial", Sans Serif;
  margin-bottom: 60px;
  font-size: 16px;
}

h1 {
  font-size: 46px;
  line-height: 2em;
  font-family: "Verdana", sans-serif;
}

h2 {
  font-size: 28px;
  line-height: 1.4em;
  font-weight: 600;
  font-family: "Verdana", sans-serif;
}

img {
  border-radius: 12px;
  box-shadow: 0px 0px 8px #c4c3be;
}

p {
  margin-bottom: 0.8em;
  line-height: 1.4em;
}

.container {
  margin: auto 35px;
}

.main {
  background-color: #FFFFFF;
  border-radius: 7px;
  box-shadow: 0px 0px 12px #c4c3be;
  margin: auto;
  max-width: 1120px;
}
.main .container {
  padding-bottom: 50px;
}

.featured-book {
  background-color: #FAF9F4;
  margin-left: -35px;
  margin-right: -35px;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
}
.featured-book .book-info {
  padding: 2em;
  height: 400px;
}
.featured-book .book-info .author {
  margin-bottom: 1.1em;
  color: #4f4e4b;
}
.featured-book .book-info .title {
  font-size: 32px;
}
.featured-book img {
  margin: 2em 1.4em 2em 0;
  max-height: 400px;
  float: left;
}
.featured-book .recommended {
  background-color: #EEC000;
  border-radius: 0 0 0 10px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Navigation bar
================================================== */
.top-actions {
  font-size: 16px;
  height: 2.1em;
  margin: 25px auto;
  max-width: 1120px;
}
.top-actions .container {
  position: relative;
}
.top-actions .top-logo {
  background-color: #CCCCCC;
  border-radius: 5px;
  display: inline-block;
  float: left;
  line-height: 2em;
  text-align: center;
  width: 240px;
}
.top-actions .top-menu {
  display: inline-block;
  position: absolute;
  right: 0;
}
.top-actions .top-menu li {
  display: inline-block;
  float: left;
  line-height: 2em;
  margin: auto 14px;
}
.top-actions .top-menu li a {
  color: #353432;
  text-decoration: none;
}
.top-actions .top-menu li a:hover {
  text-decoration: underline;
}
.top-actions .top-menu li.active {
  background-color: #EEC000;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto 7px;
}
.top-actions .top-menu li.active a {
  color: #FFFFFF;
}

/* Footer
================================================== */
footer {
  background-color: #292929;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
footer .container {
  text-align: center;
}
footer .container ul {
  display: inline-block;
  margin: 25px auto;
}
footer .container li {
  font-size: 18px;
  float: left;
  margin: auto 45px;
}
footer .container li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .container li a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
